.dropdownHolder {
    background-color: rgb(255, 235, 205);
    position: relative;
    color:black;
    border-bottom-color: white;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-width: 30px;
    border-color: aquamarine;
    padding: 16px;
    font-size: 16px;
    border: 2px;
}

.dropdownContent {
    display:none;
    background-color: rgb(255, 235, 205);
    position:absolute;
    top:100%;
    right: 0px;
    padding: 16px;
}

.dropdownHolder:hover {
    background-color:rgb(205, 185, 155);
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
} 
.dropdownHolder:hover .dropdownContent {display:block;}